{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <h1>Home</h1>
    <form method="post"  >
        {%  csrf_token %}
        {{ form.post  }}
        <br>
         <button class="btn btn-info" type="danger">Submit</button>
    </form>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Your input:<br>{{ posts.post }}
            <br><p>Posted by {{ posts.user.get_full_name}}, {{ posts.created }}</p></div>
                <div class="panel-body">{{ tagged }}</div>
            </div>
        </div>
  </div>
{% endblock %}
